hass/nodered/user/flows.json
[{"id":"d4dd4418.dbdeb8","type":"tab","label":"Deconz","disabled":false,"info":""},{"id":"f53aaa6e.72c37","type":"tab","label":"NBP","disabled":false,"info":""},{"id":"a0cd50.7c9882b","type":"tab","label":"Downstairs","disabled":false,"info":""},{"id":"2b837955.663bbe","type":"tab","label":"Upstairs","disabled":false,"info":""},{"id":"3b5cd7a1.8d697","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"6a409646.a6517","type":"tab","label":"Security","disabled":false,"info":""},{"id":"bdf8f7d2.21b9","type":"tab","label":"Other","disabled":false,"info":""},{"id":"f148f29c.a1e238","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false},{"id":"2aae6339.354644","type":"alarm-clock","z":0,"name":"vacuum_alarm_weekday"},{"id":"ebaf8546.b45e","type":"alarm-clock","z":0,"name":"vacuum_alarm_weekend"},{"id":"12c60a91.dc928d","type":"alarm-clock","z":0,"name":"Alarm Pieter"},{"id":"6ba56ed2.080268","type":"debug","z":"d4dd4418.dbdeb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":332,"y":91,"wires":[]},{"id":"ee04e0ba.ac4bd8","type":"server-events","z":"d4dd4418.dbdeb8","name":"Deconz event","server":"f148f29c.a1e238","event_type":"deconz_event","x":104,"y":281,"wires":[["870f6173.e31888"]]},{"id":"870f6173.e31888","type":"switch","z":"d4dd4418.dbdeb8","name":"Switch remote id","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"doorbell","vt":"str"},{"t":"eq","v":"bedroom_switch","vt":"str"},{"t":"eq","v":"living_room_switch","vt":"str"},{"t":"eq","v":"office_switch","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":144,"y":390,"wires":[[],[],[],[]]},{"id":"4d6688a4.584b48","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Play Ding Dong in bedroom","server":"f148f29c.a1e238","version":1,"service_domain":"media_player","service":"play_media","entityId":"media_player.bedroom_speaker","data":"{\"entity_id\":\"media_player.bedroom_speaker\",\"media_content_id\":\"https://www.soundjay.com/door/doorbell-1.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920.5,"y":51,"wires":[[]]},{"id":"d7c1cd5.aa2793","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Play Ding Dong in living room","server":"f148f29c.a1e238","version":1,"service_domain":"media_player","service":"play_media","entityId":"media_player.living_room_stereo","data":"{\"entity_id\":\"media_player.living_room_stereo\",\"media_content_id\":\"https://www.soundjay.com/door/doorbell-1.mp3\",\"media_content_type\":\"audio/mp3\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":926,"y":98,"wires":[[]]},{"id":"ad06d42e.80ba68","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Notify Mobiles","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"title\":\"Ding dong!\",\"message\":\"Someone rang the doorbell 🔔\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":877.5,"y":190,"wires":[[]]},{"id":"3db533de.52628c","type":"server-events","z":"d4dd4418.dbdeb8","name":"Test deconz_events","server":"f148f29c.a1e238","event_type":"deconz_event","x":110,"y":80,"wires":[["6ba56ed2.080268"]]},{"id":"2f049e95.0a6d22","type":"switch","z":"d4dd4418.dbdeb8","name":"Type of button press","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":700,"wires":[["e47f249d.6d08c"],["d43f614b.044d8"]]},{"id":"c131fbb.1456208","type":"comment","z":"d4dd4418.dbdeb8","name":"Doorbell","info":"","x":415,"y":212,"wires":[]},{"id":"53bb5b59.8273c4","type":"comment","z":"d4dd4418.dbdeb8","name":"Bedroom switch","info":"","x":419,"y":646,"wires":[]},{"id":"e47f249d.6d08c","type":"api-current-state","z":"d4dd4418.dbdeb8","name":"Lights on in bedroom?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bedroom_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":679,"y":656,"wires":[["1cadc6f5.992189"],["4a0bd4df.4bc4dc"]]},{"id":"287cf7ad.c7d348","type":"comment","z":"d4dd4418.dbdeb8","name":"Short press","info":"","x":650,"y":617,"wires":[]},{"id":"2e64f8c.53a3788","type":"comment","z":"d4dd4418.dbdeb8","name":"Long press","info":"","x":648,"y":706,"wires":[]},{"id":"afeaef7a.5c6a58","type":"comment","z":"d4dd4418.dbdeb8","name":"Living Room switch","info":"","x":408,"y":787,"wires":[]},{"id":"68c8b577.4442a4","type":"api-current-state","z":"d4dd4418.dbdeb8","name":"Lights on downstairs?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.downstairs_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":692,"y":832,"wires":[["808ea879.2acfe8"],["2e5b1245.bf99e6"]]},{"id":"ee165ed8.e7b89","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Device Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.pieter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":119,"y":89,"wires":[["1c643164.49c6ef"],[]]},{"id":"8590f22d.41e6e","type":"comment","z":"f53aaa6e.72c37","name":"Pieter Device Tracker","info":"","x":131,"y":46,"wires":[]},{"id":"1c643164.49c6ef","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Home (Recently)?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left Home,Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":464,"y":83,"wires":[["f1a0d298.5f92a"],["b4099bb4.3bf36"]]},{"id":"f1a0d298.5f92a","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":774,"y":62,"wires":[[]]},{"id":"422f9562.458464","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Expect Pieter Device Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.expect_device_tracker_arrival_pieter","data":"{\"entity_id\":\"input_boolean.expect_device_tracker_arrival_pieter\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1155,"y":96,"wires":[[]]},{"id":"b4099bb4.3bf36","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Just Arrived Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Just Arrived Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":814,"y":97,"wires":[["422f9562.458464"]]},{"id":"e581eca7.042cb8","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Device Not Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.pieter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"not_home,Oostkamp","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":137,"y":162,"wires":[["d91025ce.00659","64784af.6295834","1513ca79.1e5296"],[]]},{"id":"b003025c.782578","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Just Left Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Just Left Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":802,"y":136,"wires":[[]]},{"id":"64784af.6295834","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Office?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Office","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":435,"y":175,"wires":[["87967b28.8a6fc8"],[]]},{"id":"87967b28.8a6fc8","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Just Left Office","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Just Left Office\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":803,"y":174,"wires":[[]]},{"id":"d91025ce.00659","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home,Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":437,"y":136,"wires":[["b003025c.782578"],[]]},{"id":"b7a390c6.f9467","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Device Near Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.pieter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Oostkamp","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":137,"y":249,"wires":[["29949aa0.8bd606"],[]]},{"id":"29949aa0.8bd606","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Home,Just Arrived Home,Just Left Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":438,"y":250,"wires":[[],["dd94fae4.cc3138"]]},{"id":"dd94fae4.cc3138","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Expect Pieter Device On","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.expect_device_tracker_arrival_pieter","data":"{\"entity_id\":\"input_boolean.expect_device_tracker_arrival_pieter\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1155,"y":253,"wires":[[]]},{"id":"29e2e2d1.282d46","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Office","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Office\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":778,"y":285,"wires":[["61037f96.dd1ae"]]},{"id":"c95873df.0eedb","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Device Office","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.pieter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Office","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":119,"y":290,"wires":[["29e2e2d1.282d46"],[]]},{"id":"57350a36.71ce0c","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Sun Starts Setting","server":"f148f29c.a1e238","version":1,"entityidfilter":"sensor.daylight","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"golden_hour_2","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":134,"y":92,"wires":[["d7d288c0.4ea518"],[]]},{"id":"d7d288c0.4ea518","type":"api-current-state","z":"a0cd50.7c9882b","name":"Media Playing?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.beamer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":366,"y":88,"wires":[["9d79c769.4bb578"],[]]},{"id":"ca0daaff.a8838","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Device Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.sarah","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home,Home","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":117,"y":416,"wires":[["449c8b12.347924"],[]]},{"id":"712e185c.b17a88","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Just Arrived Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Just Arrived Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":424,"wires":[["e12ec3f6.7280f8"]]},{"id":"25922827.55e01","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":778,"y":387,"wires":[[]]},{"id":"449c8b12.347924","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Home (Recently)?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left Home,Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":471,"y":412,"wires":[["25922827.55e01"],["712e185c.b17a88"]]},{"id":"e12ec3f6.7280f8","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Expect Sarah Device Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.expect_device_tracker_arrival_sarah","data":"{\"entity_id\":\"input_boolean.expect_device_tracker_arrival_sarah\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":422,"wires":[[]]},{"id":"f4c82a2a.dcfae8","type":"comment","z":"f53aaa6e.72c37","name":"Sarah Device Tracker","info":"","x":124,"y":374,"wires":[]},{"id":"b7729db3.64dc48","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Device Not Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.sarah","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"not_home,Oostkamp","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":138,"y":485,"wires":[["e626f311.939e4","e5f34531.6047d8","4c5dee37.1e17d8"],[]]},{"id":"67b622a6.a007fc","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Just Left Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Just Left Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":816,"y":467,"wires":[[]]},{"id":"e626f311.939e4","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Hospital?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Hospital","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":502,"wires":[["31c1dfae.45ced8"],[]]},{"id":"31c1dfae.45ced8","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Just Left Hospital","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Just Left Hospital\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":814,"y":500,"wires":[[]]},{"id":"e5f34531.6047d8","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home,Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":438,"y":468,"wires":[["67b622a6.a007fc"],[]]},{"id":"bbf47b40.b79d8","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Device Near Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.sarah","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Oostkamp","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":133,"y":580,"wires":[["67f92baf.128dec"],[]]},{"id":"67f92baf.128dec","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Home, Just Arrived Home, Just Left Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":443,"y":580,"wires":[[],["a0bcc1b.ed136c"]]},{"id":"a0bcc1b.ed136c","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Expect Sarah Device On","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.expect_device_tracker_arrival_sarah","data":"{\"entity_id\":\"input_boolean.expect_device_tracker_arrival_sarah\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1157,"y":582,"wires":[[]]},{"id":"545fdabb.557634","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":414,"y":742,"wires":[["c3b2701f.5cc1e8"]]},{"id":"c057e142.fa545","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Status Just Arrived Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Arrived Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":151,"y":750,"wires":[["545fdabb.557634"],[]]},{"id":"af61a16.6b2966","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":735,"wires":[[]]},{"id":"adde1158.3278b8","type":"comment","z":"f53aaa6e.72c37","name":"Pieter Status Decay","info":"","x":111,"y":715,"wires":[]},{"id":"7f970f4f.cf3468","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":414,"y":794,"wires":[["7a364773.b4654"]]},{"id":"d696e162.8d355","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Away","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":979,"y":815,"wires":[[]]},{"id":"ff03a84a.168fa","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Just Left Office?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left Office","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":676,"y":832,"wires":[["d696e162.8d355"],[]]},{"id":"7a364773.b4654","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Just Left Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":675,"y":794,"wires":[["d696e162.8d355"],[]]},{"id":"66cad3df.4f8bbc","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Status Just Left Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":142,"y":799,"wires":[["7f970f4f.cf3468"],[]]},{"id":"b5cc0ae9.ea88","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Status Just Left Office","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Office","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":142,"y":839,"wires":[["4bd2a892.1da1c"],[]]},{"id":"4bd2a892.1da1c","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":414,"y":832,"wires":[["ff03a84a.168fa"]]},{"id":"ca0fe403.dffbe8","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"24","extend":true,"units":"hr","reset":"","bytopic":"all","name":"","x":401,"y":915,"wires":[["5afd26b8.582648"]]},{"id":"2571323f.5919a6","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Extended Away","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1008,"y":910,"wires":[[]]},{"id":"5afd26b8.582648","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Away?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":916,"wires":[["2571323f.5919a6"],[]]},{"id":"53c198d2.59b74","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Status Away","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":111,"y":922,"wires":[["ca0fe403.dffbe8"],[]]},{"id":"a6d934fb.d4f98","type":"comment","z":"f53aaa6e.72c37","name":"Sarah Status Decay","info":"","x":116,"y":989,"wires":[]},{"id":"278efab.241dc06","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":410,"y":1032,"wires":[["a0c2c84b.5e286"]]},{"id":"5f33578f.4060f","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Status Just Arrived Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Arrived Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":151,"y":1041,"wires":[["278efab.241dc06"],[]]},{"id":"43902ff7.561b98","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Home","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":987,"y":1027,"wires":[[]]},{"id":"c3b2701f.5cc1e8","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Just Arrived Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":683,"y":742,"wires":[["af61a16.6b2966"],[]]},{"id":"a0c2c84b.5e286","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Just Arrived Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":694,"y":1031,"wires":[["43902ff7.561b98"],[]]},{"id":"9c7a5210.5cd418","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":413,"y":1080,"wires":[["f546419a.f13738"]]},{"id":"7f7afd35.12b0b4","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Away","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":993,"y":1095,"wires":[[]]},{"id":"dcd52e10.5d0cc8","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Just Left Hospital?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left Hospital","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":1122,"wires":[["7f7afd35.12b0b4"],[]]},{"id":"f546419a.f13738","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Just Left Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":688,"y":1078,"wires":[["7f7afd35.12b0b4"],[]]},{"id":"edb69c22.758ee","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Status Just Left Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1089,"wires":[["9c7a5210.5cd418"],[]]},{"id":"a84a92b.9d1d27","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Status Just Left Hospital","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Hospital","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":1129,"wires":[["b12032c1.dd1d5"],[]]},{"id":"b12032c1.dd1d5","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":407,"y":1122,"wires":[["dcd52e10.5d0cc8"]]},{"id":"ccd6fa03.7f7ea","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"24","extend":true,"units":"hr","reset":"","bytopic":"all","name":"","x":397,"y":1205,"wires":[["7acb5ea0.afc9f8"]]},{"id":"47a293bb.7037e4","type":"api-call-service","z":"f53aaa6e.72c37","name":"Sarah Status Extended Away","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1012,"y":1199,"wires":[[]]},{"id":"7acb5ea0.afc9f8","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Away?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":648,"y":1205,"wires":[["47a293bb.7037e4"],[]]},{"id":"50262d50.fc92ac","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Status Away","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":108,"y":1209,"wires":[["ccd6fa03.7f7ea"],[]]},{"id":"df20f51c.1d71b8","type":"inject","z":"f53aaa6e.72c37","name":"midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":93,"y":1280,"wires":[["ab0ad2f8.76064"]]},{"id":"ab0ad2f8.76064","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Hospital?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Hospital","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":343,"y":1280,"wires":[["fecc7be5.f20998"],["dfba7f7e.dcf228"]]},{"id":"fecc7be5.f20998","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Worked Night Shift On","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sarah_worked_night_shift","data":"{   \"entity_id\": \"input_boolean.sarah_worked_night_shift\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":733,"y":1260,"wires":[[]]},{"id":"dfba7f7e.dcf228","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Worked Night Shift Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sarah_worked_night_shift","data":"{   \"entity_id\": \"input_boolean.sarah_worked_night_shift\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":735,"y":1299,"wires":[[]]},{"id":"eefad4f.01297a8","type":"alarm-emitter","z":"3b5cd7a1.8d697","name":"Vacuum Weekday Alarm Emitted","clock":"2aae6339.354644","offset":"0","x":140,"y":220,"wires":[[]]},{"id":"427465ee.ab520c","type":"alarm-set","z":"3b5cd7a1.8d697","clock":"2aae6339.354644","x":683,"y":120,"wires":[]},{"id":"1831feec.3cfb99","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Vacuum Tine Weekday Set","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_datetime.vacuum_time_weekday","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":120,"wires":[[]]},{"id":"bf4af294.b303e8","type":"function","z":"3b5cd7a1.8d697","name":"Calc Seconds Past Midnight","func":"var pyld = msg.payload.split(':');\nvar hours = pyld[0];\nvar mins = pyld[1];\nvar seconds_past_midnight = hours * 60 * 60 + mins * 60\nvar newMsg = { payload: {time: seconds_past_midnight, enabled: true} };\nreturn newMsg;","outputs":1,"noerr":0,"x":445,"y":120,"wires":[["427465ee.ab520c"]]},{"id":"34199ef1.2f4a9a","type":"alarm-set","z":"3b5cd7a1.8d697","clock":"ebaf8546.b45e","x":683,"y":80,"wires":[]},{"id":"c174fe38.7230d","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Vacuum Time Weekend Set","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_datetime.vacuum_time_weekend","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":80,"wires":[[]]},{"id":"910ca5cc.efd368","type":"function","z":"3b5cd7a1.8d697","name":"Calc Seconds Past Midnight","func":"var pyld = msg.payload.split(':');\nvar hours = pyld[0];\nvar mins = pyld[1];\nvar seconds_past_midnight = hours * 60 * 60 + mins * 60\nvar newMsg = { payload: {time: seconds_past_midnight, enabled: true} };\nreturn newMsg;","outputs":1,"noerr":0,"x":444,"y":80,"wires":[["34199ef1.2f4a9a"]]},{"id":"d3e5671f.04f2e","type":"alarm-emitter","z":"3b5cd7a1.8d697","name":"Vacuum Weekend Alarm Emitted","clock":"ebaf8546.b45e","offset":"0","x":140,"y":180,"wires":[[]]},{"id":"286c946c.6c43dc","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Sat?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_saturday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":822,"y":167,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"1afb7d92.bfdb72","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Vacuum","server":"f148f29c.a1e238","version":1,"service_domain":"vacuum","service":"start","entityId":"vacuum.xiaomi_vacuum_cleaner","data":"{\"entity_id\":\"vacuum.xiaomi_vacuum_cleaner\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1407,"y":248,"wires":[[]]},{"id":"d9978721.780298","type":"comment","z":"3b5cd7a1.8d697","name":"Vacuum","info":"","x":70,"y":40,"wires":[]},{"id":"f08c9eed.6da55","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Sarah Worked Night Shift?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sarah_worked_night_shift","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":415,"y":220,"wires":[[],["6d79e1f9.6efdb","fd771938.c4bd98","b5680c4b.18115","5709c358.595cfc","1fdbb003.b8208"]]},{"id":"a5114ee0.c9433","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Vacuum Returning","server":"f148f29c.a1e238","version":1,"entityidfilter":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"returning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":103,"y":580,"wires":[[],[]]},{"id":"ebe7991e.d358d8","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Vacuum Error","server":"f148f29c.a1e238","version":1,"entityidfilter":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"error","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":92,"y":806,"wires":[[],[]]},{"id":"e4786b3b.949ad","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Vacuum Docked","server":"f148f29c.a1e238","version":1,"entityidfilter":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"docked","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":93,"y":620,"wires":[[],[]]},{"id":"641a6bb6.6807cc","type":"weekday","z":"3b5cd7a1.8d697","name":"Sat?","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"x":659,"y":168,"wires":[["286c946c.6c43dc"],[]]},{"id":"b5e9657d.81ff9","type":"api-render-template","z":"3b5cd7a1.8d697","name":"Vacuum Cleaning Time Message Template","server":"f148f29c.a1e238","template":"Robert has finished cleaning after {{state_attr('vacuum.xiaomi_vacuum_cleaner', 'cleaning_time')}} minutes \\uD83D\\uDE34","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1000,"y":609,"wires":[["b7374e0a.add478"]]},{"id":"7e18f8de.4dda18","type":"server-state-changed","z":"6a409646.a6517","name":"Pieter Status Just Left Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":131,"y":97,"wires":[["c7c6cca8.2b96e8"],[]]},{"id":"2015bcfd.268e24","type":"comment","z":"6a409646.a6517","name":"Notify if entranced open when away","info":"","x":152,"y":175,"wires":[]},{"id":"337cb575.9cec12","type":"comment","z":"6a409646.a6517","name":"Notify if leaving home and door is still open","info":"","x":169,"y":56,"wires":[]},{"id":"9670f6f8.8180c8","type":"server-state-changed","z":"6a409646.a6517","name":"Back Door Opened","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.back_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":102,"y":215,"wires":[["16ca38fd.0d47c7"],[]]},{"id":"adcaa7f7.7dfc48","type":"server-state-changed","z":"6a409646.a6517","name":"Front Door Opened","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.front_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":102,"y":253,"wires":[["317fb501.7a9222"],[]]},{"id":"1d01773.0f08689","type":"api-current-state","z":"6a409646.a6517","name":"Back Door Open?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.back_door_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":759,"y":89,"wires":[["13c6bfb2.136258"],[]]},{"id":"70a9000d.d13618","type":"api-current-state","z":"6a409646.a6517","name":"Front Door Open?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.front_door_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":759,"y":125,"wires":[["d88910ac.d21f9"],[]]},{"id":"d6216706.65f748","type":"api-call-service","z":"6a409646.a6517","name":"Notify Backdoor Left Open","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"The back door is left open with nobody home, at {{mytime}}.\",\"title\":\"Security Alert!\",\"data\":{\"ttl\":\"86400\",\"priorrity\":\"high\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1202,"y":87,"wires":[[]]},{"id":"4bc7bb31.f78a04","type":"api-call-service","z":"6a409646.a6517","name":"Notify Front Door Left Open","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"The front door is left open with nobody home at {{mytime}}.\",\"title\":\"Security Alert!\",\"data\":{\"ttl\":\"86400\",\"priorrity\":\"high\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1203,"y":122,"wires":[[]]},{"id":"f6ea6d0b.6d4528","type":"server-state-changed","z":"6a409646.a6517","name":"Sarah Status Just Left Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":132,"y":132,"wires":[["7e344aa9.9ff72c"],[]]},{"id":"baede564.75fab","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Vacuum Cleaning","server":"f148f29c.a1e238","version":1,"entityidfilter":"vacuum.xiaomi_vacuum_cleaner","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"cleaning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":102,"y":473,"wires":[[],[]]},{"id":"9a410d1f.656e3","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Vacuum Error","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"home_assistant_notifications","entityId":"","data":"{\"message\":\"Robert is stuck and needs help! 😨\",\"title\":\"Beep boop!\",\"data\":{\"ttl\":\"86400\",\"priorrity\":\"high\",\"tag\":\"vacuum\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1165,"y":808,"wires":[[]]},{"id":"928a9f15.1ca19","type":"comment","z":"a0cd50.7c9882b","name":"Trigger on Sunset","info":"","x":136,"y":52,"wires":[]},{"id":"82550f4c.e55538","type":"comment","z":"a0cd50.7c9882b","name":"Check for room presence through media, presence status and motion detected","info":"","x":563,"y":48,"wires":[]},{"id":"d5799bbf.4c4808","type":"comment","z":"a0cd50.7c9882b","name":"Trigger on doors opened: Cats are unable to do this for now: make this depend on presence detection and arrival expectancy","info":"","x":470,"y":310,"wires":[]},{"id":"f11539d9.62fa28","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Front Door Opened","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.front_door_sensor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":132,"y":385,"wires":[["ecfe4995.ab8dc8"],[]]},{"id":"8bb3a98b.353bd8","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Back Door Opened","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.back_door_sensor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":133,"y":423,"wires":[["ecfe4995.ab8dc8"],[]]},{"id":"ecfe4995.ab8dc8","type":"api-current-state","z":"a0cd50.7c9882b","name":"Dark Outside?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"2000","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.illuminance","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":371,"y":398,"wires":[["6edc21d3.c5d33","73839080.75bba8","80668db7.db50a8"],[]]},{"id":"1451e210.9c6b1e","type":"api-call-service","z":"a0cd50.7c9882b","name":"Set Scene Activity","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.activity","data":"{   \"entity_id\": \"scene.activity\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1132,"y":392,"wires":[[]]},{"id":"93eabdc4.32b7a","type":"comment","z":"a0cd50.7c9882b","name":"Still possible that we open the backdoor for a cat during a movie, or that a person arrives while the other is watching a movie","info":"","x":539,"y":346,"wires":[]},{"id":"40175e03.6a357","type":"comment","z":"a0cd50.7c9882b","name":"Trigger on leaving the house","info":"","x":162,"y":502,"wires":[]},{"id":"9790aad2.42476","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Sarah Status Just Left Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":587,"wires":[["a8e3f43c.83e1a"],[]]},{"id":"186debaa.e88dec","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Pieter Status Just Left Home","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":547,"wires":[["e74e13ec.af73"],[]]},{"id":"a8e3f43c.83e1a","type":"api-current-state","z":"a0cd50.7c9882b","name":"Pieter Status Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home,Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":434,"y":584,"wires":[[],["a6ab6955.f4126"]]},{"id":"e74e13ec.af73","type":"api-current-state","z":"a0cd50.7c9882b","name":"Sarah Status Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Home,Just Arrived Home","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":434,"y":547,"wires":[[],["a6ab6955.f4126"]]},{"id":"a6ab6955.f4126","type":"api-call-service","z":"a0cd50.7c9882b","name":"Set Scene Away","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.away","data":"{   \"entity_id\": \"scene.away\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1152,"y":566,"wires":[[]]},{"id":"58621939.ec9fd8","type":"api-current-state","z":"6a409646.a6517","name":"People Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":554,"y":90,"wires":[[],["1d01773.0f08689"]]},{"id":"cfaf3258.1a1768","type":"api-current-state","z":"6a409646.a6517","name":"People Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":555,"y":126,"wires":[[],["70a9000d.d13618"]]},{"id":"2a45e8c9.4e1c38","type":"api-current-state","z":"6a409646.a6517","name":"People Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":219,"wires":[[],["9e440103.0ed59"]]},{"id":"d3ffcc34.e8ba28","type":"api-current-state","z":"6a409646.a6517","name":"People Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.people","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":257,"wires":[[],["186dd27.0afe0ae"]]},{"id":"9e440103.0ed59","type":"api-current-state","z":"6a409646.a6517","name":"Expect Arrival?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.expect_arrival","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":762,"y":220,"wires":[[],["ed7866ae.dd2f18"]]},{"id":"186dd27.0afe0ae","type":"api-current-state","z":"6a409646.a6517","name":"Expect Arrival?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.expect_arrival","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":763,"y":259,"wires":[[],["885caa7f.1cc27"]]},{"id":"ed7866ae.dd2f18","type":"simpletime","z":"6a409646.a6517","name":"Get Current Time","x":950,"y":222,"wires":[["256202ee.47680e"]]},{"id":"885caa7f.1cc27","type":"simpletime","z":"6a409646.a6517","name":"Get Current Time","x":950,"y":255,"wires":[["e028d250.0fd4f"]]},{"id":"13c6bfb2.136258","type":"simpletime","z":"6a409646.a6517","name":"Get Current Time","x":960,"y":87,"wires":[["d6216706.65f748"]]},{"id":"d88910ac.d21f9","type":"simpletime","z":"6a409646.a6517","name":"Get Current Time","x":959,"y":122,"wires":[["4bc7bb31.f78a04"]]},{"id":"24179331.1fb434","type":"comment","z":"6a409646.a6517","name":"Log last time door was opened","info":"","x":142,"y":303,"wires":[]},{"id":"3e63ab39.537114","type":"server-state-changed","z":"6a409646.a6517","name":"Back Door Opened","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.back_door_sensor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":104,"y":340,"wires":[["608832a8.2e0484"],["608832a8.2e0484"]]},{"id":"433b48e8.6bcb3","type":"server-state-changed","z":"6a409646.a6517","name":"Front Door Opened","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.front_door_sensor","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":103,"y":384,"wires":[["a73f5dd9.fb7ee"],["a73f5dd9.fb7ee"]]},{"id":"608832a8.2e0484","type":"simpletime","z":"6a409646.a6517","name":"Get Current Time","x":370,"y":340,"wires":[["fe64937e.6c392"]]},{"id":"a73f5dd9.fb7ee","type":"simpletime","z":"6a409646.a6517","name":"Get Current Time","x":369,"y":379,"wires":[["f3744c30.88a9c"]]},{"id":"fe64937e.6c392","type":"api-call-service","z":"6a409646.a6517","name":"Set Back Door Last Opened Time","server":"f148f29c.a1e238","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.back_door_last_opened","data":"{\"entity_id\":\"input_datetime.back_door_last_opened\",\"datetime\":\"{{myyear}}-{{mymonthn}}-{{mydom}} {{mytimes}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":646,"y":340,"wires":[[]]},{"id":"f3744c30.88a9c","type":"api-call-service","z":"6a409646.a6517","name":"Set Front Door Last Opened Time","server":"f148f29c.a1e238","version":1,"service_domain":"input_datetime","service":"set_datetime","entityId":"input_datetime.front_door_last_opened","data":"{\"entity_id\":\"input_datetime.front_door_last_opened\",\"datetime\":\"{{myyear}}-{{mymonthn}}-{{mydom}} {{mytimes}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":645,"y":379,"wires":[[]]},{"id":"b8ace5d6.3d0bb","type":"switch","z":"d4dd4418.dbdeb8","name":"All press types","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1000","vt":"num"},{"t":"gte","v":"1005","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":435,"y":250,"wires":[["ad06d42e.80ba68","d7c1cd5.aa2793","4d6688a4.584b48","123902e1.be264d","c4e263c.37867a"],["4d6688a4.584b48","d7c1cd5.aa2793","ad06d42e.80ba68","123902e1.be264d","c4e263c.37867a"]]},{"id":"45c25c93.bbe1a4","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Device Hospital","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.sarah","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Hospital","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":125,"y":627,"wires":[["1b2d9f4c.ab03c9"],[]]},{"id":"1b2d9f4c.ab03c9","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Hospital","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Hospital\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":776,"y":624,"wires":[["df071ffb.5a6c3"]]},{"id":"ee35b933.4ed708","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Device College","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.sarah","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"College","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":125,"y":668,"wires":[["4d74b0f6.bd7dc"],[]]},{"id":"4d74b0f6.bd7dc","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Hospital","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"College\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":776,"y":665,"wires":[["df071ffb.5a6c3"]]},{"id":"4c5dee37.1e17d8","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status College?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"College","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":438,"y":537,"wires":[["cb4b2553.a77458"],[]]},{"id":"cb4b2553.a77458","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Sarah Status Just Left College","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.sarah_presence_status","data":"{\"entity_id\":\"input_select.sarah_presence_status\",\"option\":\"Just Left College\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":814,"y":536,"wires":[[]]},{"id":"9d33cd7a.fbd428","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status University","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"University\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":792,"y":321,"wires":[["61037f96.dd1ae"]]},{"id":"3dac6813.59abe","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Device University","server":"f148f29c.a1e238","version":1,"entityidfilter":"device_tracker.pieter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"University","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":131,"y":330,"wires":[["9d33cd7a.fbd428"],[]]},{"id":"1513ca79.1e5296","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status University?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"University","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":446,"y":209,"wires":[["743e68b4.69e06"],[]]},{"id":"743e68b4.69e06","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Pieter Status Just Left University","server":"f148f29c.a1e238","version":1,"service_domain":"input_select","service":"select_option","entityId":"input_select.pieter_presence_status","data":"{\"entity_id\":\"input_select.pieter_presence_status\",\"option\":\"Just Left University\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":814,"y":208,"wires":[[]]},{"id":"706a9107.65eb9","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Pieter Status Just Left University","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.pieter_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left University","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":878,"wires":[["17bf604c.c97698"],[]]},{"id":"17bf604c.c97698","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":410,"y":871,"wires":[["4cae5c2f.298494"]]},{"id":"4cae5c2f.298494","type":"api-current-state","z":"f53aaa6e.72c37","name":"Pieter Status Just Left University?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left University","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":685,"y":872,"wires":[["d696e162.8d355"],[]]},{"id":"a9557f9e.a8b2e8","type":"server-state-changed","z":"f53aaa6e.72c37","name":"Sarah Status Just Left College","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_select.sarah_presence_status","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Just Left College","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":139,"y":1171,"wires":[["1845ab94.301a9c"],[]]},{"id":"1845ab94.301a9c","type":"trigger","z":"f53aaa6e.72c37","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"min","reset":"reset","bytopic":"all","name":"","x":407,"y":1163,"wires":[["be3243d3.a50be"]]},{"id":"be3243d3.a50be","type":"api-current-state","z":"f53aaa6e.72c37","name":"Sarah Status Just Left College?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Left College","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":679,"y":1164,"wires":[["7f7afd35.12b0b4"],[]]},{"id":"93ccde18.cfd7b8","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Set Vacuumed Today On","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"vacuumed_today","data":"{\"entity_id\":\"input_boolean.vacuumed_today\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1214,"y":649,"wires":[[]]},{"id":"21bdf5e4.d7e532","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Already Vacuumed Today?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.vacuumed_today","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1133,"y":248,"wires":[[],["1afb7d92.bfdb72","d7345938.fe0d4"]]},{"id":"651f2c05.dd44dc","type":"inject","z":"3b5cd7a1.8d697","name":"midnight","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":96,"y":526,"wires":[[]]},{"id":"c4305f94.aa70b8","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Set Vacuumed Today Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"vacuumed_today","data":"{\"entity_id\":\"input_boolean.vacuumed_today\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":335,"y":523,"wires":[[]]},{"id":"ea63dd3c.a54f5","type":"comment","z":"d4dd4418.dbdeb8","name":"Office Switch","info":"","x":391,"y":872,"wires":[]},{"id":"b09dfb75.c72218","type":"alarm-set","z":"2b837955.663bbe","clock":"12c60a91.dc928d","x":991,"y":93,"wires":[]},{"id":"d415ab1e.e1567","type":"server-state-changed","z":"2b837955.663bbe","name":"Alarm Pieter set","server":"f148f29c.a1e238","version":1,"entityidfilter":"input_datetime.alarm_pieter","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":124,"y":93,"wires":[[]]},{"id":"bf48724b.74838","type":"function","z":"2b837955.663bbe","name":"Calc Seconds Past Midnight","func":"var pyld = msg.payload.split(':');\nvar hours = pyld[0];\nvar mins = pyld[1];\nvar seconds_past_midnight = hours * 60 * 60 + mins * 60\nvar newMsg = { payload: {time: seconds_past_midnight, enabled: true} };\nreturn newMsg;","outputs":1,"noerr":0,"x":468,"y":93,"wires":[["ea96e58f.2b2e68"]]},{"id":"5c658852.8a76d","type":"alarm-emitter","z":"2b837955.663bbe","name":"Pieter Alarm Emitted","clock":"12c60a91.dc928d","offset":"0","x":125,"y":250,"wires":[[]]},{"id":"394f7cea.7633bc","type":"comment","z":"2b837955.663bbe","name":"Alarm","info":"","x":94,"y":53,"wires":[]},{"id":"6edc21d3.c5d33","type":"api-current-state","z":"a0cd50.7c9882b","name":"Sarah Just Arrived Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.sarah_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":634,"y":431,"wires":[["1451e210.9c6b1e"],[]]},{"id":"73839080.75bba8","type":"api-current-state","z":"a0cd50.7c9882b","name":"Pieter Just Arrived Home?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"Just Arrived Home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pieter_presence_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":634,"y":469,"wires":[["1451e210.9c6b1e"],[]]},{"id":"80668db7.db50a8","type":"api-current-state","z":"a0cd50.7c9882b","name":"Expect Arrival?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.expect_arrival","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":597,"y":393,"wires":[["1451e210.9c6b1e"],[]]},{"id":"2e5b1245.bf99e6","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Activity","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.activity","data":"{   \"entity_id\": \"scene.activity\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":993,"y":845,"wires":[[]]},{"id":"808ea879.2acfe8","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Dark Downstairs","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.dark_downstairs","data":"{   \"entity_id\": \"scene.dark_downstairs\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1022,"y":793,"wires":[[]]},{"id":"386f83c0.5cd404","type":"api-render-template","z":"3b5cd7a1.8d697","name":"Vacuum Cleaning Value","server":"f148f29c.a1e238","template":"{{state_attr('vacuum.xiaomi_vacuum_cleaner', 'cleaning_time')}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":710,"y":650,"wires":[["77020234.837884"]]},{"id":"77020234.837884","type":"switch","z":"3b5cd7a1.8d697","name":"Longer than 30 min","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":976,"y":649,"wires":[["93ccde18.cfd7b8"]]},{"id":"6f291dff.3efc5c","type":"comment","z":"f53aaa6e.72c37","name":"timeouts can be different:","info":"https://cookbook.nodered.org/basic/route-on-context\nhttps://cookbook.nodered.org/basic/trigger-timeout","x":382,"y":707,"wires":[]},{"id":"e20e552a.74a618","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Beamer Starts Playing","server":"f148f29c.a1e238","version":1,"entityidfilter":"media_player.beamer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":143,"y":203,"wires":[["3b04426a.744516"],[]]},{"id":"18dbab9a.ecb244","type":"server-state-changed","z":"a0cd50.7c9882b","name":"Beamer is Paused","server":"f148f29c.a1e238","version":1,"entityidfilter":"media_player.beamer","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":132,"y":248,"wires":[["974845b1.665d78"],[]]},{"id":"9d79c769.4bb578","type":"api-call-service","z":"a0cd50.7c9882b","name":"Set Scene Activity","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.activity","data":"{   \"entity_id\": \"scene.activity\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1136,"y":232,"wires":[[]]},{"id":"e6d73a9a.67b3e8","type":"comment","z":"a0cd50.7c9882b","name":"Trigger on Media playing: guaranteed in this room","info":"","x":233,"y":163,"wires":[]},{"id":"83207f1f.589378","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Washer Done?","server":"f148f29c.a1e238","version":1,"entityidfilter":"sensor.washer_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":101,"y":924,"wires":[[],[]]},{"id":"6ded71f9.41a678","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Mobiles Washer Done","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"Wally finished cleaning laundry, at {{mytime}} 💦\",\"title\":\"Wish woosh!\",\"data\":{\"tag\":\"washer\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":804,"y":922,"wires":[[]]},{"id":"770e8342.a4103c","type":"simpletime","z":"3b5cd7a1.8d697","name":"Get Current Time","x":546,"y":921,"wires":[["6ded71f9.41a678"]]},{"id":"38163640.8f577a","type":"comment","z":"3b5cd7a1.8d697","name":"Laundry","info":"","x":77,"y":882,"wires":[]},{"id":"aeeae9d8.7f2e6","type":"comment","z":"3b5cd7a1.8d697","name":"Smart Display","info":"","x":93,"y":1101,"wires":[]},{"id":"37a36d95.ca5252","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Smart Display Idle or Off?","server":"f148f29c.a1e238","version":1,"entityidfilter":"media_player.lenovosmartdisplay82878","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle,off","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":140,"y":1149,"wires":[["7e7a5f5f.25996"],[]]},{"id":"e0f5a35b.a81e2","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Show Lovelace View","server":"f148f29c.a1e238","version":1,"service_domain":"cast","service":"show_lovelace_view","entityId":"media_player.lenovosmartdisplay82878","data":"{\"entity_id\":\"media_player.lenovosmartdisplay82878\",\"dashboard_path\":\"lovelace-cast\",\"view_path\":\"downstairs\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":1143,"wires":[[]]},{"id":"7e7a5f5f.25996","type":"trigger","z":"3b5cd7a1.8d697","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":386,"y":1144,"wires":[["f77451b5.2c3f9"]]},{"id":"7e344aa9.9ff72c","type":"api-current-state","z":"6a409646.a6517","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":362,"y":132,"wires":[[],["cfaf3258.1a1768"]]},{"id":"317fb501.7a9222","type":"api-current-state","z":"6a409646.a6517","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":324,"y":252,"wires":[[],["d3ffcc34.e8ba28"]]},{"id":"c7c6cca8.2b96e8","type":"api-current-state","z":"6a409646.a6517","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":364,"y":95,"wires":[[],["58621939.ec9fd8"]]},{"id":"16ca38fd.0d47c7","type":"api-current-state","z":"6a409646.a6517","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":325,"y":214,"wires":[[],["2a45e8c9.4e1c38"]]},{"id":"71d8c3d4.e6bef4","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":857,"y":563,"wires":[[],["c3b9b5d4.21386"]]},{"id":"d7345938.fe0d4","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1433,"y":428,"wires":[[],["c4fc6ee7.84926"]]},{"id":"8e6974be.67bff8","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":694,"y":608,"wires":[[],["b5e9657d.81ff9"]]},{"id":"8b219e23.32d008","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":881,"y":805,"wires":[[],["9a410d1f.656e3","91d2be14.084fc"]]},{"id":"ba9da6c3.bb9638","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Set Cleaned Before Docking On","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"vacuumed_today","data":"{\"entity_id\":\"input_boolean.cleaned_before_docking\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":463,"y":486,"wires":[[]]},{"id":"9a5b0525.034b5","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Set Cleaned Before Docking Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"vacuumed_today","data":"{\"entity_id\":\"input_boolean.cleaned_before_docking\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":732,"y":701,"wires":[[]]},{"id":"7a6bba7e.da455c","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Cleaned Before Docking?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.cleaned_before_docking","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":627,"wires":[["386f83c0.5cd404","8e6974be.67bff8"],[]]},{"id":"d6b9b423.4d1d5","type":"trigger","z":"3b5cd7a1.8d697","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":374,"y":692,"wires":[["9a5b0525.034b5"]]},{"id":"b99d3ec1.eabef","type":"comment","z":"3b5cd7a1.8d697","name":"Used to avoid false postiives when clearing out the dustbin and returning to dock","info":"","x":887,"y":489,"wires":[]},{"id":"123902e1.be264d","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Play Ding Dong in Office","server":"f148f29c.a1e238","version":1,"service_domain":"media_player","service":"play_media","entityId":"media_player.office_speaker","data":"{\"entity_id\":\"media_player.office_speaker\",\"media_content_id\":\"https://www.soundjay.com/door/doorbell-1.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":905,"y":143,"wires":[[]]},{"id":"f77451b5.2c3f9","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Smart Display Idle or Off?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"idle,off","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"media_player.lenovosmartdisplay82878","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":617.5,"y":1144,"wires":[["e0f5a35b.a81e2"],[]]},{"id":"bc10d1a9.beb808","type":"server-state-changed","z":"2b837955.663bbe","name":"Motion Upstairs","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.motion_sensor_upstairs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":119,"y":580,"wires":[[],[]]},{"id":"32d0b08.a32025","type":"api-call-service","z":"2b837955.663bbe","name":"Turn On Hall Light Low Brightness","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall_light","data":"{\"entity_id\":\"light.hall_light\",\"kelvin\":1750,\"brightness\":5}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":843,"y":610,"wires":[[]]},{"id":"c2781a24.a14ea8","type":"api-call-service","z":"2b837955.663bbe","name":"Turn Off Hall Light","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hall_light","data":"{\"entity_id\":\"light.hall_light\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":703,"wires":[[]]},{"id":"360e772c.95276","type":"api-call-service","z":"2b837955.663bbe","name":"Turn On Bathroom LEDs","server":"f148f29c.a1e238","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.led_controller","data":"{\"entity_id\":\"switch.led_controller\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":546,"y":655,"wires":[[]]},{"id":"2ae81067.6e3a1","type":"api-call-service","z":"2b837955.663bbe","name":"Turn Off Bathroom LEDs","server":"f148f29c.a1e238","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.led_controller","data":"{\"entity_id\":\"switch.led_controller\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1042,"y":739,"wires":[[]]},{"id":"5390d645.d51ec","type":"server-state-changed","z":"2b837955.663bbe","name":"Motion Downstairs","server":"f148f29c.a1e238","version":1,"entityidfilter":"binary_sensor.motion_sensor_downstairs","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":631,"wires":[[],[]]},{"id":"65bdd185.0e99e8","type":"api-current-state","z":"2b837955.663bbe","name":"Motion Hallway?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.motion_hallway","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":743,"y":706,"wires":[[],["c2781a24.a14ea8","2ae81067.6e3a1"]]},{"id":"ebdb44a7.fcb71","type":"trigger","z":"2b837955.663bbe","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":505,"y":707,"wires":[["65bdd185.0e99e8"]]},{"id":"c782e20.7686fa","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Turn LEDs blue","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_strip","data":"{\"entity_id\":\"light.led_strip\",\"rgb_color\":[0,0,255],\"brightness\":255,\"transition\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1287,"y":409,"wires":[["1cf1a81b.70b978"]]},{"id":"8dd88744.edb568","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Turn LEDs red","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_strip","data":"{\"entity_id\":\"light.led_strip\",\"rgb_color\":[255,0,0],\"brightness\":255,\"transition\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1627,"y":407,"wires":[["402e851a.bdd2b4"]]},{"id":"1cf1a81b.70b978","type":"delay","z":"d4dd4418.dbdeb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1468,"y":408,"wires":[["8dd88744.edb568"]]},{"id":"402e851a.bdd2b4","type":"delay","z":"d4dd4418.dbdeb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1794,"y":407,"wires":[["28376801.a9578"]]},{"id":"b85278c5.60779","type":"counter-loop","z":"d4dd4418.dbdeb8","name":"Loop 15","counter":"ilb85278c560779","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"15","terminationType":"num","increment":1,"incrementType":"num","x":1651,"y":309,"wires":[["bf587fab.0374b"],["c782e20.7686fa"]]},{"id":"28376801.a9578","type":"api-current-state","z":"d4dd4418.dbdeb8","name":"Front Door Open?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.front_door_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1992,"y":405,"wires":[["bf587fab.0374b"],["b85278c5.60779"]]},{"id":"868ce513.0ff118","type":"api-current-state","z":"d4dd4418.dbdeb8","name":"Devices on in office?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.office_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":701,"y":913,"wires":[["e6b2a613.54479"],["5b064e3e.f3a34"]]},{"id":"e6b2a613.54479","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Office off","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.office_off","data":"{   \"entity_id\": \"scene.office_off\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1003,"y":893,"wires":[[]]},{"id":"5b064e3e.f3a34","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Office on","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.office_on","data":"{   \"entity_id\": \"scene.office_on\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1005,"y":934,"wires":[[]]},{"id":"61037f96.dd1ae","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Expect Pieter Device Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.expect_device_tracker_arrival_pieter","data":"{\"entity_id\":\"input_boolean.expect_device_tracker_arrival_pieter\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1159,"y":303,"wires":[[]]},{"id":"df071ffb.5a6c3","type":"api-call-service","z":"f53aaa6e.72c37","name":"Set Expect Sarah Device Off","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.expect_device_tracker_arrival_sarah","data":"{\"entity_id\":\"input_boolean.expect_device_tracker_arrival_sarah\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1153,"y":645,"wires":[[]]},{"id":"23aff366.02035c","type":"api-render-template","z":"d4dd4418.dbdeb8","name":"Get LED color","server":"f148f29c.a1e238","template":"[{{state_attr('light.led_strip', 'rgb_color')[0]}},{{state_attr('light.led_strip', 'rgb_color')[1]}},{{state_attr('light.led_strip', 'rgb_color')[2]}},{{state_attr('light.led_strip', 'brightness')}}]","resultsLocation":"color","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":1449,"y":288,"wires":[["b85278c5.60779"]]},{"id":"7b0b00bc.b6da58","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set LED color","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2559,"y":325,"wires":[["8345b7d1.f09568"]]},{"id":"8345b7d1.f09568","type":"function","z":"d4dd4418.dbdeb8","name":"Restored LED state as payload","func":"if (msg.previous === \"on\"){\n\nmsg.payload = {\n    domain: \"light\",\n    service: `turn_${msg.previous}`,\n    data: {\n        entity_id: \"light.led_strip\",\n        rgb_color: [\n            msg.color[0],\n            msg.color[1],\n            msg.color[2]\n        ],\n        brightness: msg.color[3],\n        transition: 0\n    }\n};\n}\nelse {\n    msg.payload = {\n    domain: \"light\",\n    service: `turn_${msg.previous}`,\n    data: {\n        entity_id: \"light.led_strip\"\n    }\n};\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2799,"y":325,"wires":[["4b2eed80.c63474"]]},{"id":"e74e0f86.93d508","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Turn LED 2 blue","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_strip","data":"{\"entity_id\":\"light.led_strip_2\",\"rgb_color\":[0,0,255],\"brightness\":255,\"transition\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1299,"y":586,"wires":[["a39921b3.5d082"]]},{"id":"cda49a6b.fed138","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Turn LEDs red","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_strip","data":"{\"entity_id\":\"light.led_strip_2\",\"rgb_color\":[255,0,0],\"brightness\":255,\"transition\":0}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1639,"y":584,"wires":[["9a82fd47.5bbab"]]},{"id":"a39921b3.5d082","type":"delay","z":"d4dd4418.dbdeb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":585,"wires":[["cda49a6b.fed138"]]},{"id":"9a82fd47.5bbab","type":"delay","z":"d4dd4418.dbdeb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1824,"y":588,"wires":[["759edfd1.7f43f8"]]},{"id":"6bda09af.42f738","type":"counter-loop","z":"d4dd4418.dbdeb8","name":"Loop 15","counter":"ilb85278c560779","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"15","terminationType":"num","increment":1,"incrementType":"num","x":1697,"y":507,"wires":[[],["e74e0f86.93d508"]]},{"id":"759edfd1.7f43f8","type":"api-current-state","z":"d4dd4418.dbdeb8","name":"Front Door Open?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.front_door_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2011,"y":582,"wires":[["155a228c.77453d"],["6bda09af.42f738"]]},{"id":"56cb6dae.2affc4","type":"server-state-changed","z":"3b5cd7a1.8d697","name":"Dryer Done?","server":"f148f29c.a1e238","version":1,"entityidfilter":"sensor.dryer_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":93,"y":970,"wires":[[],[]]},{"id":"febb000a.a4eb78","type":"simpletime","z":"3b5cd7a1.8d697","name":"Get Current Time","x":551,"y":974,"wires":[["d1bad203.049bf"]]},{"id":"d1bad203.049bf","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Mobiles Dryer Done","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"Drew finished drying laundry, at {{mytime}} 🌪\",\"title\":\"Wish woosh!\",\"data\":{\"tag\":\"dryer\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":811,"y":974,"wires":[[]]},{"id":"3b04426a.744516","type":"api-current-state","z":"a0cd50.7c9882b","name":"Dark Outside?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"2000","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.illuminance","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":415,"y":202,"wires":[["9d79c769.4bb578"],[]]},{"id":"974845b1.665d78","type":"api-current-state","z":"a0cd50.7c9882b","name":"Dark Outside?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"2000","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.illuminance","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":414,"y":240,"wires":[["9d79c769.4bb578"],[]]},{"id":"28f5f2f9.769e06","type":"api-render-template","z":"d4dd4418.dbdeb8","name":"Get LED state","server":"f148f29c.a1e238","template":"{{states('light.led_strip')}}","resultsLocation":"previous","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":1040,"y":340,"wires":[["6333f6ca.158a38"]]},{"id":"bb00b2eb.74eea","type":"api-render-template","z":"d4dd4418.dbdeb8","name":"Get LED 2 color","server":"f148f29c.a1e238","template":"[{{state_attr('light.led_strip_2', 'rgb_color')[0]}},{{state_attr('light.led_strip_2', 'rgb_color')[1]}},{{state_attr('light.led_strip_2', 'rgb_color')[2]}},{{state_attr('light.led_strip_2', 'brightness')}}]","resultsLocation":"color","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":1469,"y":494,"wires":[["6bda09af.42f738"]]},{"id":"966c0b0f.ff4aa","type":"api-render-template","z":"d4dd4418.dbdeb8","name":"Get LED 2 state","server":"f148f29c.a1e238","template":"{{states('light.led_strip_2')}}","resultsLocation":"previous","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":1040,"y":420,"wires":[["d96bd6aa.b59a48"]]},{"id":"91d2be14.084fc","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Mobiles Vacuum Error","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"Robert is stuck and needs help! 😨\",\"title\":\"Beep boop!\",\"data\":{\"tag\":\"vacuum\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1194,"y":862,"wires":[[]]},{"id":"b7374e0a.add478","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Mobiles Vacuum Docked","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Beep boop!\",\"data\":{\"tag\":\"vacuum\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1562,"y":601,"wires":[[]]},{"id":"c3b9b5d4.21386","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Mobiles Vacuum Returning","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"Robert finished cleaning, returning to dock.\",\"title\":\"Beep boop!\",\"data\":{\"tag\":\"vacuum\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1571,"y":557,"wires":[[]]},{"id":"c4fc6ee7.84926","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Notify Mobiles Vacuum Started","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"Robert started cleaning.\",\"title\":\"Beep boop!\",\"data\":{\"tag\":\"vacuum\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1685,"y":421,"wires":[[]]},{"id":"75c5b670.09cd28","type":"time-range-switch","z":"2b837955.663bbe","name":"Day Time?","lat":"","lon":"","startTime":"8:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":507,"y":584,"wires":[["fc20227a.692998"],["32d0b08.a32025"]]},{"id":"fc20227a.692998","type":"api-call-service","z":"2b837955.663bbe","name":"Turn On Hall Light Full Brightness","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall_light","data":"{\"entity_id\":\"light.hall_light\",\"kelvin\":3000,\"brightness\":100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":563,"wires":[[]]},{"id":"ea96e58f.2b2e68","type":"function","z":"2b837955.663bbe","name":"Substract 10 minutes","func":"var seconds_past_midnight = msg.payload.time\nseconds_past_midnight -= 60*10\nvar newMsg = { payload: {time: seconds_past_midnight, enabled: true} };\nreturn newMsg;","outputs":1,"noerr":0,"x":762.5,"y":94,"wires":[["b09dfb75.c72218"]]},{"id":"14d69fc4.23bdb","type":"api-call-service","z":"2b837955.663bbe","name":"Play Radio 1 in bedroom","server":"f148f29c.a1e238","version":1,"service_domain":"media_player","service":"play_media","entityId":"media_player.bedroom_speaker","data":"{\"entity_id\":\"media_player.bedroom_speaker\",\"media_content_id\":\"http://icecast.vrtcdn.be/radio1-high.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1431.5,"y":139,"wires":[[]]},{"id":"6b5ac18.f058f4","type":"trigger","z":"2b837955.663bbe","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":943,"y":216,"wires":[["c484183e.591938","d7b58c0b.3f7de"]]},{"id":"e396e296.576be","type":"api-call-service","z":"2b837955.663bbe","name":"Turn on bedlight","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"bedlight","data":"{\"entity_id\":\"light.bedlight\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1407,"y":184,"wires":[[]]},{"id":"99e74a85.b38558","type":"api-call-service","z":"2b837955.663bbe","name":"Turn on reading light with low brightness","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.reading_light","data":"{\"entity_id\":\"light.reading_light\",\"rgb_color\":[255,63,0],\"brightness\":145}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1487,"y":225,"wires":[[]]},{"id":"f8d5182e.9261c8","type":"function","z":"2b837955.663bbe","name":"Set payload brightness","func":"data = {\n    \"entity_id\": \"light.bedroom_ceiling_light\",\n    \"transition\": 0,\n    \"brightness\": msg.brightness,\n    \"rgb_color\": [\n        255,\n        200,\n        145\n    ]\n};\n\nmsg.payload = {\n    \"domain\" : \"light\",\n    \"service\": \"turn_on\",\n    \"data\" : data\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1556,"y":396,"wires":[["a00cb8f4.88b2e8"]]},{"id":"a00cb8f4.88b2e8","type":"api-call-service","z":"2b837955.663bbe","name":"Turn on bedroom ceiling light","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1833,"y":393,"wires":[["5fb1a4f2.8d7e8c"]]},{"id":"a03c07ec.3ce958","type":"function","z":"2b837955.663bbe","name":"Send brightness 1","func":"msg.brightness = 1;\nreturn msg;","outputs":1,"noerr":0,"x":742.5,"y":301,"wires":[["362b149d.31101c"]]},{"id":"dd56e380.16a38","type":"counter-loop","z":"2b837955.663bbe","name":"loop 20 times","counter":"ildd56e38016a38","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"40","terminationType":"num","increment":1,"incrementType":"num","x":1283,"y":398,"wires":[["f8d5182e.9261c8"],["81a2a422.ee01d8","f8d5182e.9261c8"]]},{"id":"81a2a422.ee01d8","type":"function","z":"2b837955.663bbe","name":"Increase brightness","func":"msg.brightness += 120/40\nreturn msg;","outputs":1,"noerr":0,"x":1239,"y":472,"wires":[["1a647263.8ba7de"]]},{"id":"1a647263.8ba7de","type":"trigger","z":"2b837955.663bbe","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"15","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1431,"y":473,"wires":[["dd56e380.16a38"]]},{"id":"fecd58f1.b88808","type":"inject","z":"d4dd4418.dbdeb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":380,"wires":[["c4e263c.37867a"]]},{"id":"52251705.74e548","type":"inject","z":"3b5cd7a1.8d697","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115.5,"y":1040,"wires":[["997d8d67.a8d8b"]]},{"id":"f9e88d30.a5171","type":"api-call-service","z":"3b5cd7a1.8d697","name":"Test notification mobiles","server":"f148f29c.a1e238","version":1,"service_domain":"notify","service":"mobiles","entityId":"","data":"{\"message\":\"Test notification, at {{mytime}}.\",\"title\":\"Beep boop!\",\"data\":{\"tag\":\"test\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":1042,"wires":[[]]},{"id":"997d8d67.a8d8b","type":"simpletime","z":"3b5cd7a1.8d697","name":"Get Current Time","x":324,"y":1042,"wires":[["f9e88d30.a5171"]]},{"id":"fe9670a8.915dc","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":335,"y":925,"wires":[[],["770e8342.a4103c"]]},{"id":"4766459a.74eddc","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Guest Mode?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guest_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":333,"y":973,"wires":[[],["febb000a.a4eb78"]]},{"id":"e028d250.0fd4f","type":"function","z":"6a409646.a6517","name":"Format notification payload","func":"today = new Date();\ntime = today.getHours() + \":\" + today.getMinutes();\n\ndata = {\n    \"title\": \"Security Alert!\",\n    \"message\": \"Front door was opened at \"+time+\" while nobody was home!\",\n    \"data\": {\n        \"priority\": \"high\",\n        \"ttl\": 0,\n        \"tag\": \"security\",\n        \"color\": \"red\",\n        \"clickAction\": \"/lovelace/security\",\n        \"actions\": [\n            {\n                \"action\": \"alarm\",\n                \"title\": \"Sound alarm\"\n            }\n        ]\n    }\n};\n\nmsg.payload = {\n    \"domain\" : \"notify\",\n    \"service\": \"mobiles\",\n    \"data\" : data\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1435,"y":257,"wires":[["96501bd1.67cbf8"]]},{"id":"96501bd1.67cbf8","type":"api-call-service","z":"6a409646.a6517","name":"Notify","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1631,"y":257,"wires":[[]]},{"id":"c2f0e124.5c76f","type":"api-call-service","z":"6a409646.a6517","name":"Notify","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1631,"y":221,"wires":[[]]},{"id":"ccd94155.c8bd4","type":"comment","z":"2b837955.663bbe","name":"Hallway light","info":"","x":107,"y":537,"wires":[]},{"id":"8be1de99.c2952","type":"server-events","z":"6a409646.a6517","name":"Mobile App Notification Actions","server":"f148f29c.a1e238","event_type":"mobile_app_notification_action","x":143,"y":482,"wires":[["6e47d893.e1bfd8"]]},{"id":"18bbe893.bc8277","type":"comment","z":"6a409646.a6517","name":"Catch notification actions","info":"","x":122,"y":445,"wires":[]},{"id":"6e47d893.e1bfd8","type":"switch","z":"6a409646.a6517","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"alarm","vt":"str"},{"t":"eq","v":"record","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":404,"y":483,"wires":[["56c1eade.9e60ac"],["31362aa7.4ac0e6"]]},{"id":"56c1eade.9e60ac","type":"api-call-service","z":"6a409646.a6517","name":"Sound Alarm","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":490,"wires":[[]]},{"id":"31362aa7.4ac0e6","type":"api-call-service","z":"6a409646.a6517","name":"Record Video Patio","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":671,"y":545,"wires":[[]]},{"id":"4af94eda.cc45c8","type":"comment","z":"6a409646.a6517","name":"TODO","info":"","x":630,"y":453,"wires":[]},{"id":"c484183e.591938","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm with lights?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1183.5,"y":210,"wires":[["e396e296.576be","99e74a85.b38558"],[]]},{"id":"362b149d.31101c","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm with lights?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":306,"wires":[["dd56e380.16a38","6a1ff13d.eeb78"],[]]},{"id":"d7b58c0b.3f7de","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm with radio?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_radio","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1180,"y":146,"wires":[["14d69fc4.23bdb"],[]]},{"id":"29c86a7d.308046","type":"inject","z":"3b5cd7a1.8d697","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":585.5,"y":1200,"wires":[["e0f5a35b.a81e2"]]},{"id":"82fd0b26.c79d88","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Sarah Worked Night Shift?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sarah_worked_night_shift","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":414,"y":179,"wires":[[],["641a6bb6.6807cc","32895da7.a2d432"]]},{"id":"32895da7.a2d432","type":"weekday","z":"3b5cd7a1.8d697","name":"Sun?","sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"x":660,"y":204,"wires":[["5a7c05df.400afc"],[]]},{"id":"5a7c05df.400afc","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Sun?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_sunday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":833,"y":202,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"6d79e1f9.6efdb","type":"weekday","z":"3b5cd7a1.8d697","name":"Mon?","sun":false,"mon":true,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"x":661,"y":240,"wires":[["d01b2d31.de58"],[]]},{"id":"fd771938.c4bd98","type":"weekday","z":"3b5cd7a1.8d697","name":"Tue?","sun":false,"mon":false,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"x":660,"y":275,"wires":[["9ea090c0.9ed8c"],[]]},{"id":"b5680c4b.18115","type":"weekday","z":"3b5cd7a1.8d697","name":"Wed?","sun":false,"mon":false,"tue":false,"wed":true,"thu":false,"fri":false,"sat":false,"x":660,"y":310,"wires":[["8a2fb1eb.420b8"],[]]},{"id":"5709c358.595cfc","type":"weekday","z":"3b5cd7a1.8d697","name":"Thu?","sun":false,"mon":false,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"x":660,"y":345,"wires":[["dc9beae6.db6228"],[]]},{"id":"1fdbb003.b8208","type":"weekday","z":"3b5cd7a1.8d697","name":"Fri?","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":false,"x":659,"y":382,"wires":[["f9cabbbc.199ef8"],[]]},{"id":"d01b2d31.de58","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Mon?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_monday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":833,"y":238,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"9ea090c0.9ed8c","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Tue?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_tuesday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":834,"y":275,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"8a2fb1eb.420b8","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Wed?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_wednesday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":832,"y":310,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"dc9beae6.db6228","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Thu?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_thursday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":832,"y":345,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"f9cabbbc.199ef8","type":"api-current-state","z":"3b5cd7a1.8d697","name":"Vacuum Fri?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automate_vacuum_friday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":822,"y":383,"wires":[["21bdf5e4.d7e532"],[]]},{"id":"c38f038c.ac0658","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Sat?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_saturday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":501,"y":207,"wires":[["a03c07ec.3ce958"],[]]},{"id":"15fd6113.f8926f","type":"weekday","z":"2b837955.663bbe","name":"Sat?","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"x":341,"y":206,"wires":[["c38f038c.ac0658"],[]]},{"id":"79e95410.1a308c","type":"weekday","z":"2b837955.663bbe","name":"Sun?","sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"x":342,"y":242,"wires":[["d0e42830.8cb9a8"],[]]},{"id":"38fea0aa.9c48a","type":"weekday","z":"2b837955.663bbe","name":"Mon?","sun":false,"mon":true,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"x":343,"y":278,"wires":[["affc4286.0fb0d"],[]]},{"id":"83c22786.282518","type":"weekday","z":"2b837955.663bbe","name":"Tue?","sun":false,"mon":false,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"x":342,"y":313,"wires":[["6345dacc.2c6f34"],[]]},{"id":"d5fe6add.af6228","type":"weekday","z":"2b837955.663bbe","name":"Wed?","sun":false,"mon":false,"tue":false,"wed":true,"thu":false,"fri":false,"sat":false,"x":342,"y":348,"wires":[["1a29398.31394c7"],[]]},{"id":"5abd3419.a7e79c","type":"weekday","z":"2b837955.663bbe","name":"Thu?","sun":false,"mon":false,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"x":342,"y":383,"wires":[["1f6556fb.e4f849"],[]]},{"id":"1104413d.7dac4f","type":"weekday","z":"2b837955.663bbe","name":"Fri?","sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":false,"x":341,"y":420,"wires":[["e4b161f5.08a69"],[]]},{"id":"d0e42830.8cb9a8","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Sun?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_sunday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":502,"y":242,"wires":[["a03c07ec.3ce958"],[]]},{"id":"affc4286.0fb0d","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Mon?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_monday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":503,"y":277,"wires":[["a03c07ec.3ce958"],[]]},{"id":"6345dacc.2c6f34","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Tue?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_tuesday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":503,"y":312,"wires":[["a03c07ec.3ce958"],[]]},{"id":"1a29398.31394c7","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Wed?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_wednesday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":503,"y":347,"wires":[["a03c07ec.3ce958"],[]]},{"id":"1f6556fb.e4f849","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Thu?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_thursday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":503,"y":381,"wires":[["a03c07ec.3ce958"],[]]},{"id":"e4b161f5.08a69","type":"api-current-state","z":"2b837955.663bbe","name":"Alarm Fri?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_friday","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":503,"y":415,"wires":[["a03c07ec.3ce958"],[]]},{"id":"ad16fe3b.b8c11","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Boolean True","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"doorbell_lights_in_progress","data":"{\"entity_id\":\"input_boolean.doorbell_lights_in_progress\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":380,"wires":[["28f5f2f9.769e06","966c0b0f.ff4aa"]]},{"id":"7b44385a.bb8a58","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Boolean False","server":"f148f29c.a1e238","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"doorbell_lights_in_progress","data":"{\"entity_id\":\"input_boolean.doorbell_lights_in_progress\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3441,"y":397,"wires":[[]]},{"id":"7e0298b.76be868","type":"delay","z":"d4dd4418.dbdeb8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3247.5,"y":399,"wires":[["7b44385a.bb8a58"]]},{"id":"c4e263c.37867a","type":"api-current-state","z":"d4dd4418.dbdeb8","name":"Boolean True?","server":"f148f29c.a1e238","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.doorbell_lights_in_progress","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":380,"wires":[[],["ad16fe3b.b8c11"]]},{"id":"6a1ff13d.eeb78","type":"function","z":"2b837955.663bbe","name":"Set brightness to 5","func":"data = {\n    \"entity_id\": \"light.bedroom_ceiling_light\",\n    \"transition\": 0,\n    \"brightness\": 5,\n    \"rgb_color\": [\n        255,\n        200,\n        145\n    ]\n};\n\nmsg.payload = {\n    \"domain\" : \"light\",\n    \"service\": \"turn_on\",\n    \"data\" : data\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1278,"y":340,"wires":[["cd6a1f90.cce91"]]},{"id":"cd6a1f90.cce91","type":"api-call-service","z":"2b837955.663bbe","name":"Turn on bedroom ceiling light","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1516,"y":340,"wires":[["54e95b2.f4988a4","5fb1a4f2.8d7e8c"]]},{"id":"54e95b2.f4988a4","type":"function","z":"2b837955.663bbe","name":"Set brightness to 5","func":"data = {\n    \"entity_id\": \"light.bedroom_ceiling_light\",\n    \"transition\": 0,\n    \"brightness\": 5,\n    \"rgb_color\": [\n        255,\n        200,\n        145\n    ]\n};\n\nmsg.payload = {\n    \"domain\" : \"light\",\n    \"service\": \"turn_on\",\n    \"data\" : data\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1764,"y":339,"wires":[["600f9bca.1d0ff4"]]},{"id":"600f9bca.1d0ff4","type":"api-call-service","z":"2b837955.663bbe","name":"Turn on bedroom ceiling light","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2002,"y":339,"wires":[[]]},{"id":"28265ca9.6a0874","type":"comment","z":"2b837955.663bbe","name":"first turn on is always previous brightness, so immediately set brightness again","info":"","x":1465.5,"y":298,"wires":[]},{"id":"ebc11d69.0bbe5","type":"inject","z":"2b837955.663bbe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1228.5,"y":77,"wires":[["3b984a55.13cc26"]]},{"id":"3b984a55.13cc26","type":"api-call-service","z":"2b837955.663bbe","name":"Play Radio 1 in bedroom","server":"f148f29c.a1e238","version":1,"service_domain":"media_player","service":"play_media","entityId":"media_player.lenovosmartdisplay82878","data":"{\"entity_id\":\"media_player.lenovosmartdisplay82878\",\"media_content_id\":\"http://icecast.vrtcdn.be/radio1-high.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1445,"y":76,"wires":[[]]},{"id":"ec42ec0d.ef222","type":"api-call-service","z":"bdf8f7d2.21b9","name":"Set Theme Dark","server":"f148f29c.a1e238","version":1,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"slate\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":613,"y":62,"wires":[[]]},{"id":"483c307f.8deac","type":"api-call-service","z":"bdf8f7d2.21b9","name":"Set Theme Light","server":"f148f29c.a1e238","version":1,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"clear\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":619,"y":239,"wires":[[]]},{"id":"ee7fe298.13f92","type":"server-events","z":"bdf8f7d2.21b9","name":"Sun sets","server":"f148f29c.a1e238","event_type":"sun.sunset","x":101.5,"y":68,"wires":[[]]},{"id":"fb4981c9.325f","type":"server-events","z":"bdf8f7d2.21b9","name":"Sun rises","server":"f148f29c.a1e238","event_type":"sun.sunrise","x":98.5,"y":196,"wires":[[]]},{"id":"c56bfd56.32b4d","type":"inject","z":"bdf8f7d2.21b9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.5,"y":293,"wires":[[]]},{"id":"4146a821.9f69a8","type":"server-state-changed","z":"bdf8f7d2.21b9","name":"Sun sets","server":"f148f29c.a1e238","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":99.5,"y":114,"wires":[[],[]]},{"id":"bb09147f.9d7278","type":"server-state-changed","z":"bdf8f7d2.21b9","name":"Sun rises","server":"f148f29c.a1e238","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":98,"y":243,"wires":[[],[]]},{"id":"5fb1a4f2.8d7e8c","type":"debug","z":"2b837955.663bbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2108.5,"y":500,"wires":[]},{"id":"256202ee.47680e","type":"function","z":"6a409646.a6517","name":"Format notification payload","func":"today = new Date();\ntime = today.getHours() + \":\" + today.getMinutes();\n\ndata = {\n    \"title\": \"Security Alert!\",\n    \"message\": \"Back door was opened at \"+time+\" while nobody was home!\",\n    \"data\": {\n        \"priority\": \"high\",\n        \"ttl\": 0,\n        \"tag\": \"security\",\n        \"color\": \"red\",\n        \"image\": \"http://192.168.0.25/cgi-bin/api.cgi?cmd=Snap&channel=0&rs=hassiocamera&user=hassio&password=reoc1pro4hassio\",\n        \"clickAction\": \"/lovelace/security\",\n        \"actions\": [\n            {\n                \"action\": \"alarm\",\n                \"title\": \"Sound alarm\"\n            },\n            {\n                \"action\": \"record\",\n                \"title\": \"Record video\"\n            }\n        ]\n    }\n};\n\nmsg.payload = {\n    \"domain\" : \"notify\",\n    \"service\": \"mobiles\",\n    \"data\" : data\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1436,"y":221,"wires":[["c2f0e124.5c76f"]]},{"id":"1cadc6f5.992189","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Bedroom Dark","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.dark_downstairs","data":"{   \"entity_id\": \"scene.bedroom_dark\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1007,"y":628,"wires":[[]]},{"id":"4a0bd4df.4bc4dc","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Bedroom Cosy","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.dark_downstairs","data":"{   \"entity_id\": \"scene.bedroom_cosy\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1006,"y":681,"wires":[[]]},{"id":"d43f614b.044d8","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set Scene Bedroom Bright","server":"f148f29c.a1e238","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.dark_downstairs","data":"{   \"entity_id\": \"scene.bedroom_bright\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":743,"wires":[[]]},{"id":"6333f6ca.158a38","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Turn on LED","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_strip","data":"{\"entity_id\":\"light.led_strip\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1276.5,"y":288,"wires":[["23aff366.02035c"]]},{"id":"bf587fab.0374b","type":"function","z":"d4dd4418.dbdeb8","name":"Restored LED color as payload","func":"\nmsg.payload = {\n    domain: \"light\",\n    service: `turn_on`,\n    data: {\n        entity_id: \"light.led_strip\",\n        rgb_color: [\n            msg.color[0],\n            msg.color[1],\n            msg.color[2]\n        ],\n        brightness: msg.color[3],\n        transition: 0\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2323,"y":324,"wires":[["7b0b00bc.b6da58"]]},{"id":"d96bd6aa.b59a48","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Turn on LED2","server":"f148f29c.a1e238","version":1,"service_domain":"light","service":"turn_on","entityId":"light.led_strip_2","data":"{\"entity_id\":\"light.led_strip_2\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1284,"y":493,"wires":[["bb00b2eb.74eea"]]},{"id":"354e0918.c46e26","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set LED2 color","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2557,"y":381,"wires":[["65d24c7b.abdb44"]]},{"id":"65d24c7b.abdb44","type":"function","z":"d4dd4418.dbdeb8","name":"Restored LED 2state as payload","func":"if (msg.previous === \"on\"){\n\nmsg.payload = {\n    domain: \"light\",\n    service: `turn_${msg.previous}`,\n    data: {\n        entity_id: \"light.led_strip_2\",\n        rgb_color: [\n            msg.color[0],\n            msg.color[1],\n            msg.color[2]\n        ],\n        brightness: msg.color[3],\n        transition: 0\n    }\n};\n}\nelse {\n    msg.payload = {\n    domain: \"light\",\n    service: `turn_${msg.previous}`,\n    data: {\n        entity_id: \"light.led_strip_2\"\n    }\n};\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2797,"y":381,"wires":[["3cf5b704.37a9e8"]]},{"id":"155a228c.77453d","type":"function","z":"d4dd4418.dbdeb8","name":"Restored LED2 color as payload","func":"\nmsg.payload = {\n    domain: \"light\",\n    service: `turn_on`,\n    data: {\n        entity_id: \"light.led_strip_2\",\n        rgb_color: [\n            msg.color[0],\n            msg.color[1],\n            msg.color[2]\n        ],\n        brightness: msg.color[3],\n        transition: 0\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2321,"y":380,"wires":[["354e0918.c46e26"]]},{"id":"4b2eed80.c63474","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set LED state","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3046,"y":325,"wires":[["7e0298b.76be868"]]},{"id":"3cf5b704.37a9e8","type":"api-call-service","z":"d4dd4418.dbdeb8","name":"Set LED2 state","server":"f148f29c.a1e238","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3047,"y":380,"wires":[["7e0298b.76be868"]]},{"id":"d7c5ff69.85e84","type":"inject","z":"d4dd4418.dbdeb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3429,"y":316,"wires":[["7b44385a.bb8a58"]]},{"id":"b8484a2b.f681","type":"switch","z":"d4dd4418.dbdeb8","name":"Type of button press","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":416,"y":917,"wires":[["868ce513.0ff118"],["868ce513.0ff118"]]},{"id":"832165e6.82701","type":"switch","z":"d4dd4418.dbdeb8","name":"Type of button press","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":820,"wires":[["68c8b577.4442a4"],["68c8b577.4442a4"]]},{"id":"fda3e85a.1e3098","type":"inject","z":"bdf8f7d2.21b9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":152,"wires":[[]]}]